

/* Variable CSS */
:root {
  --black: #00050b;
  --biruTosca: #499bfd;
  --BiruTua: #494ffd;
  --dark: #073c5f;
  --light: #4fa5ff;
  --white: #e7ecec;
}


/* Font Import
@font-face {
  font-family: 'OpenSansB';
  src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'OpenSansL';
  src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: 'MonterratR';
  src: url("fonts/montserrat-regular-webfont.woff");
}
@font-face {
  font-family: 'CallunaSansI';
  src: url("fonts/CallunaSans-Italic.otf");
} ==> Banned <== */
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.woff2");
}


/* CSS Reset */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  font-family: 'Roboto';
}



















html {
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  font-family: 'Roboto', Sans-Serif;
  transition: background 0.5s ease;
}
header {
  position: sticky;
  width: 100%;
  background: var(--biruTosca);
  box-shadow: 0 0 20px 7px #00000040;
  z-index: 9999;
  top: 0;
  transition: background .2s ease !important;
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  top: 0;
  transition: transform none, opacity none;
}
.navbar .navbar-logo {
  color: var(--white);
  font-size: 26px;
  margin-top: 10px;
  margin-left: 20px;
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.navbar .navbar-logo.show {
  opacity: 1;
  transform: translateX(0%);
}
.navbar .hamburger-nav {
  width: 36px; height: 3px;
  display: none;
  transition: all 0.6s linear;
}
.navbar .hamburger-nav .line {
  background: white;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  margin-top: 6px;
  transition: all .2s linear;
}
.btnNav-active .line:nth-child(even) {
  opacity: 0;
}
.btnNav-active .line:nth-child(1) {
  transform: rotate(42deg) translateY(13px);
}
.btnNav-active .line:nth-child(3) {
  transform: rotate(-42deg) translateY(-13px);
}
.btnNav-active .line:nth-child(1),
.btnNav-active .line:nth-child(3) {
  margin-left: 7px;
}


.navbar .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 13px 25px;
  right: 0;
  transition: background .2s ease;
}
.navbar .bar li {
  padding: 5px 5px;
  border-radius: 25px;
  width: 100%;
}
.navbar .bar li a {
  width: 100%;
  border-radius: 25px;
  font-weight: 400;
  padding: 5px 5px;
  transition: color .2s linear;
  color: var(--white);
}
.navbar .bar li a span {
  font-family: 'MonterratR', Sans-Serif;
}
.navbar .bar li a .icon {
  display: none;
}
.navbar .bar .darkmodeToggle {
  background: #cdc4b5;
  max-height: 30px;
  animation: shine 2s infinite;
}
@keyframes shine {
  0% {
    background: #d6bb8e;
  }
  50% {
    background: #cdc4b5;
  }
  100% {
    background: #d6bb8e;
  }
}

/* back nav */
.back-nav {
  display: none;
}



/** BAGIAN HERO **/
.hero {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 170px;
  background: #fff;
  transition: background 0.5s ease;
}
.hero .hero-wrap {
  display: flex;
  justify-content: space-between;
  margin: auto 30px;
}
.hero .hero-wrap .hero-title-wrap {
  width: 50%;
  height: auto;
  position: relative;
  display: block;
}
.hero-title-wrap .hero-decor {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'CallunaSansI', 'OpenSansL', Sans-Serif;
  opacity: 0;
  filter: blur(1px);
}
.hero-title-wrap .hero-title {
  margin-top: 200px;
  color: #444;
  font-size: 35px;
}
.hero-title span {
  color: var(--biruTosca);
}
.hero-title-wrap .hero-desc {
  margin-top: 15px;
  font-size: 18px;
  width: 70%;
  line-height: 20px;
  color: #444;
}
.hero-title-wrap .hero-link {
  margin-top: 15px;
  color: white;
  background: #444;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
  padding: 7px 15px;
  text-align: center;
  transform: translateY(0);
  transition: transform .3s ease-in-out, background .5s ease;
}
.hero-title-wrap .hero-link:hover {
  transform: translateY(-10px);
  background: #111;
}
.hero .hero-wrap .hero-img-wrap {
  width: 50%;
  text-align: center;
}
.hero-img {
  width: 500px;
  height: 460px;
  object-fit: cover;
}

/****/
.container {
  margin-top: 500px;
  padding: 120px 80px;
  background: #fff;
  overflow: hidden;
  transition: background 0.5s ease;
}
.content-title {
  font-size: 40px;
  text-align: center;
  font-family: 'OpenSansB', Sans-Serif;
  text-transform: uppercase;
}



/* Bagian About */
.about-wrap {
  position: relative;
}
.about-title {
  position: relative;
  z-index: 2;
}
.p-wrap {
  gap: 2rem;
  margin-top: 50px;
  z-index: 2;
  position: relative;
  padding-bottom: 60px;
}
.p-wrap .p {
  margin-top: 120px;
  font-size: 16px;
  color: #202020;
  word-spacing: 5px;
  letter-spacing: 1.55px;
  font-family: 'MonterratR', Sans-Serif;
}
.p-wrap .p::first-letter {
  font-size: 18px;
  font-weight: bold;
}
.center {
  text-align: center;
  width: 100%;
}
.social-wrap {
  width: 100%;
}
.link {
  justify-content: start;
  display: flex;
  margin-top: 30px;
  gap: 3rem;
}
.link li a {
  color: var(--BiruTua);
  font-weight: bold;
}
.about-img-wrap {
  z-index: 1;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.about-img-wrap .about-img {
  z-index: 1;
  width: 100%;
  height: 500px;
  bottom: 0;
}



/** BAGIAN PROJECTS **/
.project-wrap {
  width: 100%;
  height: auto;
  padding: 30px auto;
}
.project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: rows;
}
.prj-column {
  width: 280px;
  margin: 30px 12px 0 12px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 15px 4px #00000041;
  background: #fff;
}
.prj-thumb {
  width: 100%;
  height: 170px;
  border-bottom: 6px solid var(--light);
  transition: transform .3s ease-in-out;
}
.prj-thumb:hover {
  transition: transform .7s ease-in-out;
  transform: scale(1.2);
}
.prj-column-wrap {
  padding: 16px 20px;
}
.prj-title {
  font-family: Monospace;
  font-size: 19px;
  color: var(--biruTosca);
}
.prj-desc {
  color: #444;
  font-size: 13px;
  margin-top: 18px;
}
.prj-filter-wrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
.prj-filter {
  padding: 3px 7px;
  color: #fff;
  font-family: 'MonterratR', Sans-Serif;
  font-weight: bold;
  margin-top: 7px;
  border-radius: 4px;
}
.prj-filter:nth-child(odd){
  background: #43a9dc;
}
.prj-filter:nth-child(even){
  background: #1a95d3;
}
.prj-link-wrap {
  width: 100%;
  margin-top: 15px;
  text-align: right;
}
.prj-link-wrap .prj-link {
  color: var(--light);
  font-weight: bold;
  font-size: 21px;
}
.prj-link-wrap .prj-link:active {
  color: var(--biruTosca);
}
.more-prj-wrap {
  text-align: center;
  margin-top: 120px;
}
.more-prj-link {
  font-size: 19px;
  font-family: 'OpenSansB', Monospace;
  color: var(--biruTosca);
}


/** BAGIAN SKILL **/
.skills {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
.skill-dev,
.skill-tech {
  width: 50%;
  padding: 0 15px;
}
.skill-dev .skill-title,
.skill-tech .skill-title {
  width: 100%;
  font-size: 25px;
  color: var(--biruTosca);
}
.skill-dev ul,
.skill-tech ul {
  margin-left: 30px;
}
.skill-tech ul li,
.skill-dev ul li {
  margin-top: 10px;
}
.skill-tech ul li .skill-name,
.skill-dev ul li .skill-dev-name {
  font-family: 'OpenSansB', Sans-Serif;
  font-size: 19px;
}
.skill-dev ul li .skill-dev-info {
  font-family: 'OpenSansL', Sans-Serif;
  color: var(--biruTosca);
  font-size: 19px;
}


/** BAGIAN FORUM **/
.contact {
  margin-top: 89px;
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 200px 0 200px;
}
.form-wrap .form {
  width: 300px;
  height: auto;
  overflow-y: auto;
  border-radius: 18px;
  box-shadow: 17px 17px 20px 5px rgba(0,0,0,0.189);
  background: linear-gradient(80deg, #f5f5f5, #eeeeee);
}
.form-wrap .form .form-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.form-title {
  color: var(--dark);
}
.contact-wrap {
  padding: 0 40px 40px 40px;
}
.contact-column {
  text-align: center;
  margin-bottom: 20px;
}
.contact-column .contact-label {
  font-size: 20px;
  color: var(--biruTosca);
  text-align: start;
  margin: 10px 0;
}
.contact-column .inputText {
  width: 100%;
  border: 3px solid #5b5f64;
  border-radius: 8px;
  padding: 4px 10px;
  background: #efefef;
}
.contact-column .inputText:focus {
  border: 1px solid #5b5f64;
}
.contact-column .textArea:focus {
  border: 1px solid #5b5f64;
}
.contact-column .textArea {
  border: 3px solid #5b5f64;
  height: 150px;
  background: #efefef;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-send {
  width: 100px;
  height: 30px;
  font-size: 18px;
  border-radius: 30px;
  color: var(--biruTosca);
  border: 3px solid #499bfd;
  background: inherit;
  transition: transform 180ms ease, color 200ms ease, background 100ms ease;
}
.btn-send:hover {
  background: var(--biruTosca);
  color: #fafafa;
}
.btn-send:active {
  transition: transform 280ms linear;
  transform: scale(0.85);
}
.hero-link {
  color: black;
  font-weight: bold;
  width: auto;
  height: auto;
  display: block;
}


/** BAGIAN FOOTER **/
footer {
  width: 100%;
  background: linear-gradient(10deg, #f5f5f5, #ffffff);
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.189);
  padding: 50px 70px;
  border-radius: 18px;
}
footer .copyright .copyright-title {
  font-size: 28px;
  color: #444;
}
footer .copyright .copyright-subtitle {
  color: var(--biruTosca);
}









































/* Bagian Handphone */
/** BAGIAN RESPONSIVE **/
@media (max-width: 600px){
  header {
    width: 100%;
    height: 50px !important;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    transition: background .2s ease;
  }
  .navbar .bar {
    position: fixed;
    width: 45%;
    background: var(--biruTosca);
    top: 0;
    height: 100vh;
    width: 56%;
    transform: translateX(-100%);
    transition: transform .3 ease, opacity .4s ease, background .2s ease;
    opacity: 0;
  }
  .navbar .bar li {
    margin-top: 40px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease;
  }
  .navbar .bar li:hover {
    transform: translateX(20px);
  }
  .navbar .nav-active li {
    opacity: 1;
    transform: translateX(0%);
    transition: transform .5s ease-in-out, opacity 1s ease;
  }
  .navbar .hamburger-nav {
    display: block;
  }
  .navbar .nav-active {
    transform: translateX(0%);
    transition: transform .3 ease-in-out, opacity .5s linear;
    opacity: 1;
    top: 0;
  }
  .back-nav {
    display: block;
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background: #00000040;
    opacity: 0;
    transition: opacity .3s ease;
  }
  .back-nav-active {
    width: 100vw;
    opacity: 1;
    transition: opacity .3s ease;
  }
  
  /* Bagian Hero */
  .hero {
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  .hero .hero-wrap {
    width: auto;
    flex-direction: column;
    z-index: 1;
  }
  .hero .hero-wrap .hero-title-wrap {
    width: 100%;
    text-align: center;
    z-index: 3;
  }
  .hero-title-wrap .hero-decor {
    opacity: 1;
  }
  .hero-title-wrap .hero-decor span {
    animation: anim1 5s infinite ease;
  }
  @keyframes anim1 {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1) rotate(6deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  .hero .hero-wrap .hero-img-wrap {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
  }
  .hero-img {
    width: 300px !important;
    height: 300px !important;
    margin-top: 0px !important;
    z-index: 1;
    position: absolute;
  }
  .container {
    margin-top: 100vh;
    padding: 100px 40px 40px 40px;
  }
  .content-title {
    font-size: 30px;
    text-align: center;
  }
  .hero-title-wrap .hero-desc {
    margin-top: 80px;
    text-align: center;
    width: 100%;
  }
  
  /* Bagian About */
  .p-wrap {
    display: block;
  }
  .p-wrap .p {
    margin-top: 80px;
    display: block;
  }
  .p-wrap .p b {
    font-size: 25px;
  }
  .contact {
    width: 100%;
    padding: 20px 0 0 0;
  }
  .form-wrap {
    margin: 40px 0 40px 0; padding: 0;
  }
  .contact-wrap {
    padding: 30px 0;
  }
  .link {
    justify-content: center;
  }
  
  /** BAGIAN PROJECT **/
  .project {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .project-column {
    margin: 0;
  }
  .more-prj-wrap {
    text-align: right;
    margin-top: 80px;
  }
  .more-prj-link {
    font-size: 20px;
    font-family: 'OpenSansB', Monospace;
  }
  
  /* Bagian Skill */
  .skills {
    flex-direction: column;
  }
  .skill-dev {
    width: 100%;
    margin-top: 100px;
    float: left;
  }
  .skill-tech {
    width: 100%;
  }
  .skill-tech-list li {
    width: 100%;
  }
  
  /* Bagian Kontak */
  .form-wrap .form {
    overflow: visible;
    background: none;
    box-shadow: none;
    width: 100%;
  }
  
  /* Bagian Footer */
  footer .copyright .copyright-title {
    font-size: 20px;
  }
}



























































/** BAGIAN Tablet **/
/** BAGIAN RESPONSIVE **/
@media (max-width: 768px){
  header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background .2s ease;
  }
  .navbar .navbar-logo {
    margin-top: 10px;
  }
  .navbar .bar {
    position: absolute;
    width: 45%;
    background: #6092ce;
    display: block;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 56%;
    box-shadow: 0 8px 20px 5px #00000030;
    transform: translateX(-100%);
    transition: transform .3s ease, opacity .4s ease, background .2s ease !important;
    opacity: 0;
  }
  .navbar .bar li {
    margin-top: 40px;
    transform: translateX(-100%);
    opacity: 0;
    padding: 5px 5px;
    transition: transform 1s ease-in-out, opacity 1s ease;
  }
  .navbar .bar li a .icon {
    display: inline;
    margin-left: 10px;
  }
  .navbar .bar li:hover {
    transform: translateX(20px);
  }
  .navbar .nav-active li {
    opacity: 1;
    transform: translateX(0%);
    transition: transform .5s ease-in-out, opacity 1s ease;
  }
  .navbar .hamburger-nav {
    margin: 0 20px;
    transform: translateY(10px);
    display: block;
  }
  .navbar .nav-active {
    transform: translateX(0%);
    transition: transform .3 ease, opacity .5s linear;
    opacity: 1;
    top: 0;
  }
  .back-nav {
    display: block;
    width: 0;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background: #00000040;
    opacity: 0;
    transition: opacity .3s ease;
  }
  .back-nav-active {
    width: 100vw;
    opacity: 1;
    transition: opacity .3s ease;
  }
  
  /* Bagian Hero */
  .hero {
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  .hero-wrap {
    margin-top: 100px;
    overflow: visible;
  }
  .hero .hero-wrap {
    flex-direction: column;
    overflow: hidden;
  }
  .hero .hero-wrap .hero-title-wrap {
    width: 100%;
  }
  .hero-title-wrap .hero-title {
    margin-top: 0px;
    padding: 0 40px;
    font-size: 35px;
  }
  .hero-title-wrap .hero-decor {
    opacity: 1;
  }
  .hero-title-wrap .hero-decor span {
    animation: anim1 3s infinite ease;
  }
  @keyframes anim1 {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1) rotate(6deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  .hero-title-wrap .hero-desc {
    margin-top: 80px;
    text-align: center;
    width: 100%;
  }
  .hero .hero-wrap .hero-img-wrap {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
  }
  .hero-img {
    width: 400px;
    height: 400px;
    margin-top: 0px !important;
    z-index: 1;
    position: absolute;
  }
  
  /****/
  .container {
    margin-top: 100vh;
    padding: 100px 25px 40px 25px;
  }
  .content-title {
    font-size: 28px;
    text-align: center;
  }
  
  /* Bagian About */
  .p-wrap {
    display: block;
  }
  .p-wrap .p {
    margin-top: 80px;
    display: block;
  }
  .p-wrap .p b {
    font-size: 25px;
  }
  
  /** BAGIAN PROJEK **/
  .project {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .more-prj-wrap {
    text-align: right;
    margin-top: 100px;
  }
  .more-prj-link {
    font-size: 20px;
    color: var(--light);
    font-family: 'OpenSansB', Monospace;
  }
  
  /** BAGIAN KONTAK **/
  .contact {
    width: 100%;
    padding: 20px 0 0 0;
  }
  .form-wrap {
    margin: 40px 0 40px 0; padding: 0;
    text-align: center;
  }
  .form-wrap .form {
    background: none;
    box-shadow: none;
    width: 80%;
    overflow: visible;
  }
  .contact-wrap {
    padding: 30px 0;
  }
  .link {
    justify-content: center;
  }
  
  /* Bagian Footer */
  footer .copyright .copyright-title {
    font-size: 20px;
  }
}


/* Optimition */
@media (max-width: 1011px){
  .navbar .bar li {
    padding: 0px;
  }
  .navbar .bar li a {
    padding: 5px 3px;
  }
}

















/**-- BAGIAN DARKMODE --**/

/**FUNGSI**/

.tampilanGelap {
  background: #121b24;
  color: aliceblue;
  transition: color 0.5s ease, background .5s ease;
}
.tampilanGelap .darkBg {
  background: #293440;
  color: white;
  transition: background .2s ease, color .2s ease;
}
.tampilanGelap .select-gelap .darkText1,
.tampilanGelap .darkText1 {
  color: #96a5b6;
  transition: color 0.5s ease;
}
.tampilanGelap .select-gelap .darkText,
.tampilanGelap .darkText {
  color: #fff;
  transition: color 0.5s ease;
}
.tampilanGelap .forumBg {
  background: #293440;
  color: white;
  transition: background 0.5s ease, color .5s ease;
  background: linear-gradient(10deg, #212c39, #293440);
}








/** Bagian Icon **/
.sx-icon {
  font-size: 18px;
}
.md-icon {
  font-size: 25px;
}
.lg-icon {
  font-size: 32px;
}

.github-icon .fa-github {
  color: #444;
}
.whatsapp-icon .fa-whatsapp {
  color: #60dd33;
}
.tiktok-icon .fa-tiktok {
  color: #444;
}


/** LOADING **/
div.loading {
  width: 100%;
  height: 100vh;
  background-color: #00000050;
  backdrop-filter: blur(1.4px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 999999;
  pointer-events: none;
}
div.loading div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 500;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  line-height: 20px;
  animation: loading .5s infinite alternate forwards;
}
@keyframes loading {
  to {
    margin-top: 0;
  }
}
div.loading div:nth-child(2){
  animation-delay: 250ms;
}
div.loading div:nth-child(3){
  animation-delay: 500ms;
}